/* RANKING */
.event_page {width:90%; margin:0 auto;}
.event_category { text-align: center; margin-bottom: 30px; }
.event_category h1.event_category_title {display: inline-block; font-family: 'Great Vibes', cursive; font-size: 25px; font-weight:400; color:#000;}
.event_category ul {margin-top:20px;}
.event_category ul:after { display: block; content: ''; clear: both; }
.event_category li { display: inline-block; line-height: 40px; text-align: center;  margin: 0px 15px; }
.event_category li a { display: inline-block; font-family: 'Great Vibes', cursive; font-size: 50px; color:#aaa; }
.event_category li a.active { color:#000000; }

.event_keyvisual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.event_keyvisual img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.event_list {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.event_list_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.event_list_item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 0 0 0;
}
.event_list_item_player {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.event_list_item_player img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.event_list_item_info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background: #fff;
}
.event_list_item_info p {
    flex: 0 0 auto;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    line-height: 160%;
    color: #000;
    word-break: keep-all;
}