/* RANKING */
.ranking_page {  }
.ranking_category { text-align: center; margin-bottom: 30px; }
.ranking_category ul:after { display: block; content: ''; clear: both; }
.ranking_category li { display: inline-block; line-height: 40px; text-align: center;  margin: 0px 15px; }
.ranking_category li a { display: inline-block; font-family: 'Great Vibes', cursive; font-size: 30px; color:#aaa; border-bottom: 1px solid #aaa; }
.ranking_category li a.active { color:#000000; border-bottom: 1px solid #000; }
.ranking_list:after { display: block; content: ''; clear: both; }
.ranking_list_part { background-color: rgba( 255, 255, 255, 0.3); float: left; width: 31.3333%; margin: 1%; }
.ranking_list_part:nth-child(7) { clear:both; }
.ranking_list_part_champ { padding: 10px; padding-bottom: 0px; cursor:pointer; }
.ranking_list_part_champ h3 { font-size: 20px; margin-bottom: 10px; }
.ranking_list_part_champ h3 span.weight { display: inline-block; font-size: 11px; padding: 5px 10px; background-color: #ffba3c; }
.ranking_list_part_champ h3 span.champ { font-size: 12px; }
.ranking_champ_name { font-size: 24px; font-weight: bold; padding-left: 10px; height: 60px; }
.ranking_ring_name { font-size: 13px; color:#999999; font-weight: normal; }
.ranking_champ_photo { text-align: right; letter-spacing: -1.5px; margin-top: -80px; height: 150px;}
.ranking_champ_photo img { width: 200px; }
.ranking_list_part_item { background-color: #FFF; padding: 0px 10px; line-height: 40px; margin-bottom: 1px; cursor:pointer; }
.ranking_list_part_item:after { display: block; content: ''; clear: both; }
.ranking_list_num { float: left; width: 20px; text-align: center; }
.ranking_list_photo { float: left; width: 67px; }
.ranking_list_photo img { height: 40px; }
.ranking_list_name { float: left; width: calc(100% - 140px);  }
.ranking_list_name span.ring_name { font-size: 10px; margin-left: 5px; color:#999999; letter-spacing: -1.5px; }
.ranking_list_change { float: left; width: 40px; font-size: 10px; color: #999999; text-align: right }
.ranking_list_change span { font-size: 10px; color: #999999; }
.ranking_team_list {}
.ranking_team_part:after { display: block; content: ''; clear: both; }
.ranking_team_part { background-color: rgba(255,255,255,0.3); width: 540px; padding: 10px; margin: 0px auto; margin-bottom: 30px; }
.ranking_team_part:last-child; { margin-bottom: 0px; }
.ranking_team_logo { float: left; width: 200px; }
.ranking_team_logo img { width: 100%; }
.ranking_team_info { float: left; width: 300px; margin-left: 20px; }
.ranking_team_num { font-family: 'Teko', sans-serif; font-size: 40px; margin-bottom: -10px; }
.ranking_team_num span { font-family: 'Great Vibes', cursive; font-size: 18px;  }
.ranking_team_name { font-size: 16px; }
.ranking_team_address { font-size: 13px; color:#999999; }