/* RULES */
.rules_page { max-width: 600px; background-color: rgba(255, 255, 255, 0.3); padding:  20px; margin: 0px auto; font-size: 12px; line-height: 24px;  }
.rules_page h3 { font-size: 15px; margin-bottom: 10px; }
.rules_page h1 { font-size: 25px; margin-bottom: 30px; text-align: center; line-height: 2rem; }